<div id="sidebar" class="inactive">
    <div class="inner">

        {{!-- Nav - partials/navigation.hbs --}}
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}

        {{>widget_recentposts}}

        {{!-- Contact --}}
        {{#get "posts" slug="contact"as |contact|}}
            {{#if contact}}{{#foreach contact}}
                <section>
                    <header class="major">
                        <h2>{{title}}</h2>
                    </header>
                    {{content}}
                </section>
            {{/foreach}}{{/if}}
        {{/get}}

        {{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
        {{#unless @member}}
        <section class="footer-cta">
            <div class="inner">
                <h2>Sign up for more like this.</h2>
                <a class="footer-cta-button" href="#/portal">
                    <div>Enter your email</div>
                    <span>Subscribe</span>
                </a>
                {{!-- ^ This looks like a form element, but it's just a link to Portal,
                making the form validation and submission much simpler. --}}
            </div>
        </section>
        {{/unless}}

        {{!-- Footer --}}
        <footer id="footer">
            <p class="copyright">&copy; {{@site.title}} - All rights reserved<br>
            Design: <a href="https://html5up.net" target="_blank" rel="noopener">HTML5 UP</a>, Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
        </footer>
        <div id="navigation">
            {{navigation type="secondary"}}
        </div>
    </div>
</div>