{{!< default }}

<script src="{{asset "main/js/showsidebar.js"}}"></script>

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the post --}}
<section>

    <header class="main content">
        <span class="date">{{date format="MMMM D, YYYY"}}</span>
        <h1>{{title}}</h1>
        {{#if custom_excerpt}}
            <p class="content">{{custom_excerpt}}</p>
        {{/if}}
    </header>

    {{#if feature_image}}
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
    {{/if}}

    <div class="content">
        {{content}}
    </div>

    <footer class="post-footer">

        <div class="authors">
            {{#foreach authors}}
                {{>widget_authorinfo}}
            {{/foreach}}
        </div>

        {{>widget_subscription}}

        {{#if tags}}
            {{>widget_tags}}
        {{/if}}

        {{>widget_post_share}}
        
        {{>widget_comments_commento}}

    </footer>

    {{!-- <section class="article-comments gh-canvas">
        <script defer src="https://commento.aytac.xyz/js/commento.js" data-css-override="https://sample.nwxx.de/assets/main/css/commento.css" data-auto-init="true"></script>
        
		<div id="commento"></div>
    </section> --}}

</section>

<div id="post_hidden" style="display: none">
    {{> sidebar_post }}
</div>
{{/post}}


<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    });
</script>

<script src="{{asset "main/js/post.js"}}"></script>